@{
	ViewBag.Title = "Criatividade";
	ViewBag.ActiveLink = "2";
}
<div class="col-12">

	<div class="d-flex justify-content-center">
		<img class="col-7 rounded" src="https://digilandia.io/wp-content/uploads/2020/06/Como-desenvolver-a-criatividade.jpg" />
	</div>

	<div class="d-flex justify-content-end mt-3">
		<blockquote class="blockquote col-7">
			<p class="mb-0">Criatividade é uma dádiva, que deve ser sempre incentivada; uma habilidade tranformadora e que molda profissionais em todas áreas.</p>
			<footer class="blockquote-footer mt-1 text-end"><cite title="É sobre isso">Ninguém importante</cite></footer>
		</blockquote>
	</div>

	
</div>