@{
	ViewBag.Title = "Criatividade";
	ViewBag.ActiveLink = "2";
}

<h2>Criatividade</h2>

<img src="https://digilandia.io/wp-content/uploads/2020/06/Como-desenvolver-a-criatividade.jpg"/>

<h3>Esta é minha página de manifesto para com a disciplina de programação WEB.</h3>

<blockquote class="blockquote">
	<p class="mb-0">Criatividade é um processo, que assim como o respeito, deve ser sempre incentivado</p>
	<footer class="blockquote-footer">Felipe Beserra <cite title="É sobre isso">Falando o óbvio</cite></footer>
</blockquote>