@model News.Models.CategoryModel
@{
	ViewBag.Title = "Categoria";
}

<h2>Categoria: @Model.Name</h2>
<h6 class="fw-light">Descrição: @Model.Description</h6>

@if (ViewBag.NewsRelated != null && ViewBag.NewsRelated.Count > 0)
{
	<p class="mt-5">Notícias:</p>
	<ul>
		@foreach (News.Models.NewsModel news in ViewBag.NewsRelated)
		{
			<li><a href="@Url.Action("Noticia", "Noticias", new { id = news.Id })">@news.Name</a></li>
		}
	</ul>
}